<!--/var/www/umbrella-academy.linkpc.net/html/index.html-->

<!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <script src="https://widget.tiptoppay.kz/bundles/widget.js"></script>
          <title>TipTopPay</title>
        </head>
        <body>
          <script>

            const widget = new tiptop.Widget();
            window.addEventListener('load', () => {
                console.log("page loaded")
              const intentParams = {
                    publicTerminalId: "{{PUBLIC_TERMINAL_ID}}", // идентификатор терминала
                    description: "subscription for online course", // описание списания
                    paymentSchema: 'Dual', // схема
                    currency: "KZT", // валюта
                    amount: 1001, // сумма
                    externalId: "your_system_payment_identifier", // идентификатор платежа в вашей системе
                    restrictedPaymentMethods: [ // список отключенных для данной оплаты методов
                        'ApplePay'
                    ],
                    paymentOptions: [{
                        type: 'InstallmentKz',
                        items: [{
                                    name: 'subscription',
                                    brand: 'Umbrella Academy',
                                    category: 'Common',
                                    count: 1,
                                    price: 100, // для InstallmentKz допустимы только целые числа, значение 100.50 будет воспринято провайдером как некорректное
                                    sku: 'SomeSKU',
                                }
                        ]
                    }],
                    paymentMethodSequence: [ // очередность отображения методов оплаты
                        'Card',
                        'GooglePay',
                        'InstallmentKz'
                    ],
                    recurrent: {
                        period: 1, // частота списания
                        interval: 'Month', // интервал списания
                        amount: 8000, // сумма
                        startDate: new Date(), // дата начала
                        maxPeriods: 12, // количество списаний после которых рекуррент будет остановлен
                        receipt: { // чек для рекуррента
                            items: [{ //товарные позиции
                                label: 'Subscripption for Umbrella Academy', //наименование товара
                                price: 8000.00, //цена
                                quantity: 1.00, //количество
                                amount: 8000.00, //сумма
                            }],
                            isBso: false, //чек является бланком строгой отчетности
                            amounts: {
                                electronic: 8000.00, // Сумма оплаты электронными деньгами
                                cash: 8000.00 // Сумма оплаты наличными деньгами (2 знака после запятой)
                            },
                        }
                    },
                    items: [{
                                id: "1", // уникальный идентификатор товара в вашей системе (или для данной оплаты)
                                name: "Subscription", // наименование товара
                                count: 1, // количество
                                price: 8000, // стоимость
                                // label?: string | null;
                                // quantity?: number | null;
                            }
                    ],
                    receipt: {
                        items: [ //товарные позиции
                            {
                                label: "Subscripption for Umbrella Academy", //наименование товара
                                price: 8000.00, //цена
                                quantity: 1.00, //количество
                                amount: 8000.00, //сумма
                                vat: 0, //ставка НДС
                                measurementUnit: "шт" //единица измерения
                            }
                        ],
                        customerInfo: "", // Покупатель - наименование организации или фамилия, имя, отчество (при наличии), серия и номер паспорта покупателя (клиента)

                    },
                    retryPayment: false,
                    tokenize: true
              };
              widget.start(intentParams)
                .then(res => window.Telegram.WebApp.sendData(JSON.stringify(res)))
                .catch(err => console.error(err));
            });
          </script>
        </body>
        </html>